body{
    padding: 0;
    margin: 0;
    background-image:url(../images/rammstein-logo1.png); 
    text-indent: 20px;
}

#wrapper{
    width: 1300px;
    margin:10px auto;
    border: 2px groove gold;
    padding: 0;
    background-color: #BFBEFF;
}

#header{
    padding-top: 40px;
    height: 50px;
    position: relative;
}

#content{
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #887DFF;
}

#rout{
    width:auto;
    height: 395px;
    margin-bottom: 20px;
    padding: 0 130px;
}

#history{
    width: 900px;   
    float: left;
    padding: 10px;
}

#history p{
    margin-top: 20px;
}

#members{
    width: 300px;
    margin-left: 940px;
    padding: 10px;
}

#footer{
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#wrapper #content #photo1{
    float: left;
    margin: 0 40px;
}
#histPic {
    float:left;
    margin: 10px;
}

.memberPhoto {
    width: 130px;
    height: 180px;
}

.mem {
    width: 145px;
    height: 240px;
    margin-left: 160px;
    text-indent: 0;
    font-family: cursive;
    font-size: 15px;
}

.leftMem {
    float: left;
    width: 145px;
    height: 240px;
    text-indent: 0;
    font-family: cursive;
    font-size: 15px;
}

#advertising {
    position: fixed;
    left:0px;
    text-align: center;
    line-height: 0px;
    font-weight: bold;
    font-family:Palatino Linotype, serif;
}

.city {
    
}

#mainHeader {
    letter-spacing: 70px;
    font-size: 50px;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 165px;
}

#underMainHeader {
    text-align: center;
}

#contentHeader {
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 30px;
}

#historyHeader {
    text-align: center;
    font-size: 30px;
    font-family: Palatino Linotype, serif;
    line-height: 0px;
}

#membersHeader {
    text-align: center;
}

#tie {
    text-align: center;
    word-spacing: 40px;
    letter-spacing: 7px;
    font-size: 20px;
    font-family: Lucida Sans Unicode, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
#marilynImg {
    border: 7px inset gold;
}

#list {
    font-size: 20px;
    font-family: Times New Roman, serif;
    line-height: 45px;
    font-weight: 600;
}

.text {
    font-family: Times New Roman, serif;
    font-size: 17px;
}
